body{
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
#entrada,#juegoTexto,#enviar{
display: none;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}